<div class="ms-4">
    <h4>ng-bootstrap TABLAS</h4>
    <hr>
    <ul class="list-group">
        <li routerLink="tabla01" routerLinkActive="active" class="list-group-item">Basic table</li>
        <li routerLink="tabla02" routerLinkActive="active" class="list-group-item">Pagination table</li>
        <li routerLink="tabla03" routerLinkActive="active" class="list-group-item">Searchable table</li>
        <li routerLink="tabla04" routerLinkActive="active" class="list-group-item">Compete table</li>
    </ul>
</div>