<div bgcolor="#f4f4f4" marginheight="0" marginwidth="0" style="margin:0; padding:0">
    <table bgcolor="#eeeef3" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
        style="border-collapse:collapse; table-layout:fixed; margin:0 auto">
        <tbody>
            <tr>
                <td>
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600"
                        style="max-width:600px; width:95%; margin:auto; margin-top:47px; border-top-left-radius:4px; border-top-right-radius:4px">
                        <tbody>
                            <tr>
                                <td valign="middle" style="padding:45px 50px; padding-bottom:35px; text-align:left"><a
                                        href="https://mandrillapp.com/track/click/30147522/app.gestiopimes.cat?p=eyJzIjoiRnRJakQ2eXpvZmt5cUtrelkyM3NyMUFzeElnIiwidiI6MSwicCI6IntcInVcIjozMDE0NzUyMixcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2FwcC5nZXN0aW9waW1lcy5jYXRcXFwvZXNcXFwvZW50cmFyXCIsXCJpZFwiOlwiZmYwNjI5MmE4ZDBjNDEwNjg0ZDNlNjAwNTk0M2Q4YmNcIixcInVybF9pZHNcIjpbXCJjOTMyMzg0NTdkOTk4MDA2MDk0ZTY1YTAwNDZkMTM0MmU1MzRmZmFlXCJdfSJ9"
                                        target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                                        data-linkindex="2">
                                        <img data-imagetype="External"
                                            src="https://quipuapp.s3.eu-west-1.amazonaws.com/uploads/bookkeepers/36/logo.png"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="600"
                        style="max-width:600px; width:95%; margin:auto; border-bottom-left-radius:4px; border-bottom-right-radius:4px">
                        <tbody>
                            <tr>
                                <td
                                    style="padding:0px 50px; padding-bottom:50px; color:#000; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; font-size:16px; line-height:28px; word-wrap:break-word">
                                    <span>Hola Bruno,</span>
                                    <br aria-hidden="true">
                                    <br aria-hidden="true">
                                    <span>
                                        Adjunto
                                        encontrarás el resumen de ingresos, t4 de 2022 de la cuenta
                                        Barangé Sala, Bruno que has solicitado</span>
                                    <br aria-hidden="true"><br aria-hidden="true">
                                    <span>Atentamente,</span>
                                    <br aria-hidden="true"><br aria-hidden="true">
                                    <span>Grup8 Assessors</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>

</div>