<div class="container">

    <div class="card mt-2">

        <div class="card-header container d-flex flex-wrap justify-content-center">
            <span class="d-flex align-items-center fs-4 mb-3 mb-lg-0 me-lg-auto text-dark">
                Sortable, Sercheable & Pagination
            </span>
            <div class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search"
                    [(ngModel)]="searchText" (input)="search()">
            </div>
        </div>

        <div class="card-body">

            <app-alerta *ngIf="errMsg" [mensaje]="errMsg"></app-alerta>

            <app-loading *ngIf="loading"></app-loading>

            <table *ngIf="!loading" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th width="1%" scope="col">id</th>
                        <th width="20%" scope="col" class="thSort" (click)="sort('nombre')">
                            Nombre
                            <i appSortIcon [currentField]="'nombre'" [sortField]="sortField"
                                [currentOrder]="sortOrder"></i>
                        </th>
                        <th width="20%" scope="col" class="thSort" (click)="sort('email')">
                            eMail
                            <i appSortIcon [currentField]="'email'" [sortField]="sortField"
                                [currentOrder]="sortOrder"></i>
                        </th>
                        <th width="2%" scope="col" class="thSort" (click)="sort('salario')">
                            Salario
                            <i appSortIcon [currentField]="'salario'" [sortField]="sortField"
                                [currentOrder]="sortOrder"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personasPag; index as i">
                        <th scope="row">{{ persona.id }}</th>
                        <td>{{ persona.nombre }}</td>
                        <td>{{ persona.email | uppercase }}</td>
                        <td>{{ persona.salario | number }}€</td>
                    </tr>
                </tbody>
            </table>


            <!-- Paginación -->
            <div *ngIf="!loading" class="d-flex align-items-center flex-wrap bd-highlight">
                <div class="p-2 bd-highlight"> {{totalPersonas}} Resultados</div>
                <div class="p-2 bd-highlight">
                    <select class="form-select form-select-sm " [(ngModel)]="pageSize"
                        (ngModelChange)="refreshPersonas()">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">{{size}}</option>
                    </select>
                </div>

                <div class="p-2 bd-highlight"> por página </div>

                <div class="ms-auto p-2 bd-highlight">
                    <ngb-pagination [collectionSize]="totalPersonas" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
                        (pageChange)="refreshPersonas()">
                        <ng-template ngbPaginationPrevious>Anterior</ng-template>
                        <ng-template ngbPaginationNext>Siguiente</ng-template>
                    </ngb-pagination>
                </div>
            </div>


        </div>
    </div>
</div>