
<app-bbwk></app-bbwk>

<div class="container">
	<h2>Basic </h2>

	<app-alerta *ngIf="errMsg" [mensaje]="errMsg"></app-alerta>

	<app-loading *ngIf="loading" ></app-loading>

	<table *ngIf="!loading" class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">eMail</th>
				<th scope="col">Salario</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let persona of personas; index as i">
				<th scope="row">{{ i + 1 }}</th>
				<td> {{ persona.nombre }} </td>
				<td>{{ persona.email | uppercase }}</td>
				<td>{{ persona.salario | number }}</td>
			</tr>
		</tbody>
	</table>

</div>

